<div class="container" *ngIf="weather">

  <div id="above-chart" class="row">
    <div class="col-lg-3">

      <h4>{{weather.city.name}}, ON</h4>
      <h6>{{datetime}}</h6>
      <h6>{{weather.list[0].weather[0].main}}</h6>

    </div>
    <div class="col-lg-5 float-left">
      <p id="temp">{{weather.list[0].main.temp}}&#176;C
        <span [innerHTML]="getWeatherImageHtml(weather.list[0].weather[0].description)"></span>
      </p>
    </div>

    <div id="col-right" class="col-lg-4 text-right d-flex align-items-end justify-content-end">

      <h5 class="">Pressure: {{weather.list[0].main.pressure}} Pa
        <br/>Humidity: {{weather.list[0].main.humidity}}%
        <br/>Wind: {{weather.list[0].wind.speed}} km/h</h5>

    </div>
  </div>

  <app-chart [times]="times" [temps]="temps" [humidities]="humidities" [winds]="winds" [windsDegree]="windsDegree"></app-chart>
  <div class="row container">
    <div class="col-2" *ngFor="let el of dayDataArray">
      <h5>{{el.dayName}}</h5>
      <span class="weather-img" [innerHTML]="getWeatherImageHtml(el.desc)"></span>
      <p>
        <span>{{el.tempMax}}&#176;</span>
        <span>&#160;</span>
        <span>{{el.tempMin}}&#176;</span>
      </p>
    </div>
  </div>
</div>