
<ul class="weathers">
  <div class="container">
    <div class="row">
      <div class="card cell col-lg-3 text-center" style="width: 18rem;" 
      *ngFor="let weather of weathers">
          <div class="card-body" routerLink="/detail/{{getCityId(weather)}}">
            <h5 class="card-title wt-600">{{weather.name}}</h5>
            <h6>{{getFormattedDate(weather.dt)}}</h6>
            <span class="weather-img" [innerHTML]="getWeatherEmojiCode(weather.weather[0].main)"></span>
            <h6>{{getWeatherDesc(weather)}}</h6>
            <div class="row temps">
              <div class="col-lg-4">
                <span>{{weather.main.temp_min}}</span>&#176;
                <br/>Min</div>
              <div class="col-lg-4">
                <span>{{weather.main.temp}}</span>&#176;
                <br/>Now</div>
              <div class="col-lg-4">
                <span>{{weather.main.temp_max}}</span>&#176;
                <br/>Max</div>
            </div>
          </div>
      </div>
    </div>
  </div>
</ul>

<!-- <div>
    <div id="locationField">
        <input id="autocomplete" placeholder="Enter your address" onFocus="geolocate()" type="text" />
      </div>
  
      <table id="address"> 
          <td class="label">City</td>
          <td class="wideField" colspan="3"><input class="field" id="locality"
                disabled="true" /></td>
      </table>
</div> -->

<!-- <script src="https://maps.googleapis.com/maps/api/js?key=[key]&libraries=places&callback=initAutocomplete"
        async defer></script> -->
